@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Seymour+One&display=swap");
$color-1:#ffc038;
$txt-color:#000;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
  }
  
  html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding: 5rem;
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    background-color: #f2f3f5;
  }
  img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
ul{
    list-style: none;
}
a{
    color:$txt-color;
}
@import 'header';
@import 'main';
@import 'footer';